img {
  width: 200px;
}
.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.movie-item {
  margin: 10px;
  border: 2px solid;
  padding: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5px;

}
